Q1 program to reverse a string.

In [299]:
A = str(input("Enter the string:"))
B = print("The reverse of given string is:\n", A[::-1])

The reverse of given string is:
 ytselec

Q2 Check if a string is a palindrome.

In [300]:
A = str(input("Enter the string"))
B = A[::-1]
if A == B:
    print("The given string is palindrome")
else:
    print("The given statement is not palindrome")

The given string is palindrome

Q3 Convert a string to uppercase.

In [301]:
A = str(input("Enter the string"))
print("Before converting to uppercase:", A)
print("After converting to uppercase:", str.upper(A))

Before converting to uppercase: celesty
After converting to uppercase: CELESTY

Q4 Convert a string to lowercase.

In [302]:
C = str(input("Enter the string"))
print("Before converting to lowercase:", C)
print("After converting to lowercase:", str.lower(C))

Before converting to lowercase: CELESTY
After converting to lowercase: celesty

 Q5 Count the number of vowels in a string.

In [303]:
B = str(input('Enter the string'))
B = str(input("Enter the string"))
C = 0
for i in B:
    if (
        i == "A"
        or i == "E"
        or i == "I"
        or i == "O"
        or i == "U"
        or i == "a"
        or i == "e"
        or i == "i"
        or i == "o"
        or i == "u"
    ):
        C += 1
print("The count of vowels in a string is:", C)

The count of vowels in a string is: 1

Q6) Count the number of consonants in a string.

In [304]:
A = str(input("Enter the string"))
consonant = 0
B = str.lower(A)
for i in range(0, len(B)):
    if B[i] not in ("a", "e", "i", "o", "u"):
        consonant = consonant + 1
print("The number of consonant in given string is:", consonant)

The number of consonant in given string is: 11

Q7) Remove all whitespaces from a string.

In [305]:
user_input = input("Enter the string")
B = " "
for i in user_input:
    if not i.isspace():
        B += i
print("Before removing whitespaces:", user_input)
print("After removing whitespaces:", B)

Before removing whitespaces: my name is celesty
After removing whitespaces:  mynameiscelesty

Q8) Length of a string without using the `len()` function.

In [306]:
A = input("Enter the string:")
count = 0
for i in A:
    count = count + 1
print("The length of given string is:", count)

The length of given string is: 22

 Q9) Check if a string contains a specific word.

In [224]:
A = input("Enter the string:")
if "good" in A:
    print("'good' is present in given string")
else:
    print("'good' is not present in given string")

'good' is not present in given string

Q10) Replace a word in a string with another word

In [225]:
A = "Python is great programming language"
print("Before replacing the word:\n", A)
print("after replacing the word:\n", A.replace("Python", "java"))

Before replacing the word:
 Python is great programming language
after replacing the word:
 java is great programming language

Q11) Count the occurrences of a word in a string.

In [226]:
A = "Fear leads to anger;anger leads to hatred"
print("The number of occurance of 'anger'", A.count("anger"))

The number of occurance of 'anger' 2

Q12) The first occurrence of a word in a string.

In [227]:
A = "Python"
print("first occurance of python is :", A.find("P"))

first occurance of python is : 0

Q13) Find the last occurrence of a word in a string

In [228]:
A = "Python"
print("Last occurence of python:", A.find("n"))

Last occurence of python: 5

Q14) Split a string into a list of words.

In [229]:
string = "Welcome to pwskills lab"
new_string = string.split()
print(new_string)

['Welcome', 'to', 'pwskills', 'lab']

Q15) Join a list of words into a string.

In [230]:
A = "pw", "skills"
B = "".join(A)
print("After joining the words:", B)

After joining the words: pwskills

 Q16) Convert a string where words are separated by spaces to one where words are separated by underscores.

In [231]:
A = "Banglore is beautiful city which one can visit"
print("string with spaces:", A)
print("string with underscore:", A.replace(" ", "_"))

string with spaces: Banglore is beautiful city which one can visit
string with underscore: Banglore_is_beautiful_city_which_one_can_visit

Q17) Check if a string starts with a specific word or phrase.

In [232]:
text = "Python is a trending computer language"
result = text.startswith("is a trending")
result1 = text.startswith("Python is")
result2 = text.startswith("Python is a trending computer language")
print(result, result1, result2)

False True True

 Q18) Check if a string ends with a specific word or phrase

In [233]:
text = "Data science is very popular course"
result = text.endswith(" course")
result1 = text.endswith("Data science")
print(result, result1)

True False

Q19) Convert a string to title case

In [234]:
string = "the alchemist is a great book"
print("Before converting to title case:", string)
print("After convering into title case:", string.title())

Before converting to title case: the alchemist is a great book
After convering into title case: The Alchemist Is A Great Book

 Q20) Find the longest word in a string.

In [298]:
string = input("Enter the string")
text = string.split()
word = max(text, key=len)
print("The longest word in given string is :", word)

The longest word in given string is : language

Q21) Find the shortest word in a string.

In [297]:
A = input("Enter the string")
B = A.split()
C = min(B, key=len)
print("The shortest word in given string is:", C)

The shortest word in given string is: day

Q22) Reverse the order of words in a string.

In [296]:
A = "Sun rise is very beautiful to view"
B = A.split()[::-1]
C = []
for i in B:
    C.append(i)
print(" ".join(C))

view to beautiful very is rise Sun

Q23) Check if a string is alphanumeric.

In [295]:
string = input("Enter the string")
if string.isalnum():
    print("The give string is alphanumeric")
else:
    print("The given string is not alphanumeric")

The give string is alphanumeric

Q24) Extract all digits from a string.

In [294]:
A = "There are 400 students in Data science course"
print(A)
num = ""
for B in A:
    if B.isdigit():
        num = num + B
print("Extracted digit from string is:", num)

There are 400 students in Data science course
Extracted digit from string is: 400

Q25) Extract all alphabets from a string.

In [293]:
A = "python is top 1 proggramming language"
print(A)
Alpha = ""
for B in A:
    if B.isalpha():
        Alpha = Alpha + B
print("Extracted alphabests from string is:", Alpha)

python is top 1 proggramming language
Extracted alphabests from string is: pythonistopproggramminglanguage

26) Count the number of uppercase letters in a string.

In [292]:
A = "This Assignment is very lengthy but it built all Python basics"
upper = 0
print(A)
for i in A:
    if i.isupper():
        upper = upper + 1
print("The number of uppercase in given string is", upper)

This Assignment is very lengthy but it built all Python basics
The number of uppercase in given string is 3

Q27) Count the number of lowercase letters in a string.

In [291]:
A = "This Assignment is very lengthy but it built all Python basics"
lower = 0
print(A)
for i in A:
    if i.islower():
        lower = lower + 1
print("The number of lowercase in given string is", lower)

This Assignment is very lengthy but it built all Python basics
The number of lowercase in given string is 49

Q28) Swap the case of each character in a string.

In [290]:
string = "My NAME is CELESTY"
A = string.swapcase()
print(A)

mY name IS celesty

Q29) Remove a specific word from a string.

In [289]:
string = "MY dog name is lucy"
B = string.replace("dog", "")
print(B)

MY  name is lucy

Q30) Check if a string is a valid email address.

In [22]:
import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "celesty@email.com"
email2 = "lucy-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

 Q31 Extract the username from an email address string.

In [288]:
email = input("Enter Email Address")
user_name = email.split("@")[0]
print("User Name:", user_name)

User Name: celesty

Q30) Check if a string is a valid email address.

In [3]:
from validate_email import validate_email

email = input("Enter your Email")
is_valid = validate_email(email)

if is_valid:
    print("Valid email address")
else:
    print("Invalid email address")

Valid email address

Q32) Extract the username from an email address string.

In [287]:
email = input("Enter Email Address")
domain_name = email.split("@")[1]
print("User Name:", domain_name)

User Name: gmail.com

Q33) Replace multiple spaces in a string with a single space.

In [286]:
String = str(input("Enter the string"))
print(String)
new_string = String.split()
print(f'The string after by replacig single space is :{" ".join(new_string)}')

My     dog    name is       lucy
The string after by replacig single space is :My dog name is lucy

Q34) Check if a string is a valid URL.

In [285]:
import validators
url = input("Enter your url")

validation_url = validators.url(url)
print("The given url is :",url)
if validation_url:
    print("Url is valid")
else:
    print("Url is invalid")

The given url is : http://www.insta.com
Url is valid

 Q35) Extract the protocol (http or https) from a URL string.

In [284]:
url = str(input("Enter your URl"))
protocol_name = url.split(":")[0]
print("Protocol of given URL is:", protocol_name)

Protocol of given URL is: http

Q36) Find the frequency of each character in a string.

In [283]:
String = input("Enter Your string")
f = []
for i in String:
    if i not in f:
        print(i, ":", String.count(i))
        f.append(i)

c : 1
e : 2
l : 1
s : 1
t : 1
y : 1

Q37) Remove all punctuation from a string.

In [282]:
P = input("Enter the string")
punct = """ ! @ # $ , % ^ & * () _ {} [] < > | / >\" ':"""

for i in P:
    if i in punct:
        P = P.replace(i, "")
print("The given string without punctuation is:", P)

The given string without punctuation is: Hel0oworld

Q38) Check if a string contains only digits.

In [281]:
string = input()
if string.isdigit():
    print("The given string contains only digit")
else:
    print("The given string does not contain only digit")

The given string contains only digit

Q39) Check if a string contains only alphabets.

In [280]:
string = input()
if string.isalpha():
    print("The given string contains only alphabet")
else:
    print("The given string does not contain only alphabet")

The given string does not contain only alphabet

Q40) Convert a string to a list of characters.

In [279]:
string = input("Enter the string")
list = []
for i in string:
    list.append(i)
print(list)

['p', 'y', 't', 'h', 'o', 'n']

Q41) Check if two strings are anagrams.

In [278]:
str1, str2 = input("Enter string 1: "), input("Enter string 2: ")
str1 = sorted(str1.lower())
str2 = sorted(str2.lower())

if str1 == str2:
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

 Q42) Encode a string using a Caesar cipher.

In [277]:
def encrypt(inputText, s):
    result = ""

    for i in range(len(inputText)):
        char = inputText[i]

        if char.isupper():
            result += chr((ord(char) + s - 65) % 26 + 65)

        else:
            result += chr((ord(char) + s - 97) % 26 + 97)

    return result


inputText = input("Enter the string")
s = int(input("Enter the shift you want"))
print("Text  : " + inputText)
print("Shift : " + str(s))
print("Cipher: " + encrypt(inputText, s))

Text  : celesty
Shift : 3
Cipher: fhohvwb

 Q43) Decode a Caesar cipher encoded string.

In [276]:
def caesar_decrypt(ciphertext, shift):
    decrypted_text = ""

    for char in ciphertext:
        if char.isalpha():
            ascii_offset = ord("a") if char.islower() else ord("A")
            decrypted_char = chr((ord(char) - ascii_offset - shift) % 26 + ascii_offset)
            decrypted_text += decrypted_char
        else:
            decrypted_text += char

    return decrypted_text


# Example usage
encoded_string = "fhohvwb"
shift_value = 3
decoded_string = caesar_decrypt(encoded_string, shift_value)
print(decoded_string)

celesty

Q44) Find the most frequent word in a string.

In [25]:
input_string = input("Enter the string")
print(input_string)
words = input_string.split()
word_frequency = {}
for word in words:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1
most_frequent_word = max(word_frequency, key=word_frequency.get)
print("The most frequent word is:", most_frequent_word)

apples oranges apples banana
The most frequent word is: apples

Q45) Find all unique words in a string.

In [274]:
input_string = input("Enter the string")
words = input_string.split()
unique_words = set(words)
print(unique_words)

{'great', 'is', 'pw', 'learn', 'skills', 'to', 'a', 'platform'}

Q46) Count the number of syllables in a string.

In [273]:
word = ("HAIRY")
print(word)
syllable_count = 0
for w in word:
    if (
        w == "a"
        or w == "e"
        or w == "i"
        or w == "o"
        or w == "u"
        or w == "A"
        or w == "E"
        or w == "I"
        or w == "O"
        or w == "U"
    ):
        syllable_count = syllable_count + 1
print("The number of syllables in the string is: ")
print(syllable_count)

HAIRY
The number of syllables in the string is:
2

Q47) Check if a string contains any special characters.

In [272]:
String = input("Enter the string")
print(String)
Special_char = """ ! @ # $ , % ^ & * () _ {} [] < > | / >\" ':"""

for s in String:
    if s in Special_char:
        String = String.replace(s, "")
print("The given string without Special characters is:", String)

C@l@sty
The given string without Special characters is: Clsty

Q48) Remove the nth word from a string.

In [271]:
input_string = input("Enter the string")
print(input_string)
 
n = int(input("Enter the position you want to remove"))  # Remove the word
print(n)

words = input_string.split()  # Split the string into words

if n > 0 and n <= len(words):
    del words[n - 1]  # Remove the nth word (adjusted for 0-based indexing)
    result = " ".join(words)  # Join the remaining words back into a string
    print(result)
else:
    print("Invalid index for word removal")

iphone is very expensive mobile
3
iphone is expensive mobile

Q49) Insert a word at the nth position in a string.

In [270]:
input_string = input("Enter the string:")
print(input_string)

N = int(input("Enter the position you want to intsert:"))
print(N)

add = str(input("Enter the word you want to add:"))
words = input_string.split()  # split the string into words

if N > 0 and N <= len(words):
    words.insert(N - 1, add)  # inserting the nth word(adjusted for 0-based indexing)
    result = " ".join(words)  # join the remaining words back into a string
    print(result)
else:
    print("Invalid index for word inserting")

ikiagi is a book
4
ikiagi is a great book

Q50) Convert a CSV string to a list of lists.

In [26]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\ncelesty, 25, India\nlucy, 30, Canada\nFlorina, 52, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['celesty', ' 25', ' India']
['lucy', ' 30', ' Canada']
['Florina', ' 52', ' UK']

*list*

Q1) Create a list with integers from 1 to 10.

In [268]:
# using range function upper bound +1
input_list = [i for i in range(1,11)] 

print("The lis with integers from 1 to 10 are:\n",input_list)

The lis with integers from 1 to 10 are:
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q2) Find the length of a list without using the `len()` function.

In [267]:
input_list = [1,2,3,4,97,57,96,124]

count = 0

for i in input_list:
    count += 1 #instead of len() function we can use count
    
print("The length of the given list is:",count)

The length of the given list is: 8

Q3) Append an element to the end of a list.

In [266]:
list_1 = [1,2,3,4,5,6]
print("Before appending the element",list_1)

new_list = [7]

for i in new_list:
    list_1.append(i) #adding item at the end of list
    
print("Updated list:",list_1)

Before appending the element [1, 2, 3, 4, 5, 6]
Updated list: [1, 2, 3, 4, 5, 6, 7]

Q4) Insert an element at a specific index in a list.

In [265]:
list_4 = [10,20,40,50,60]
print("Before inserting the element",list_4)

new_list = 30

list_4.insert(2,new_list) #adding item at the end of list
print("Updated list:",list_4)

Before inserting the element [10, 20, 40, 50, 60]
Updated list: [10, 20, 30, 40, 50, 60]

Q5) Remove an element from a list by its value.

In [264]:
list_5 = [1,2,3,'b',4]
print("Before removing the value in list:",list_5)

rem_ele = 'b' # element to be reoved

list_5.remove(rem_ele) #remove specific value from list
print("Updated list:",list_5)

Before removing the value in list: [1, 2, 3, 'b', 4]
Updated list: [1, 2, 3, 4]

Q6) Remove an element from a list by its index.

In [263]:
list_6 = [11,12,13,14,15,16,17]
print("Before removing the element by its index:",list_6)

rem_ele = list_6.index(17) #which element to remove

del list_6[rem_ele]    
print("Updated list:",list_6)

Before removing the element by its index: [11, 12, 13, 14, 15, 16, 17]
Updated list: [11, 12, 13, 14, 15, 16]

Q7) Check if an element exists in a list.

In [262]:
list_7 = [21,22,23,24,25,26,27]
print("The give list is:",list_7)

i = int(input("Enter the element you want to check"))
print(i)

if i in list_7:
     print("The element exist in the list")
else:
     print("Invalid element")

The give list is: [21, 22, 23, 24, 25, 26, 27]
27
The element exist in the list

Q8) Find the index of the first occurrence of an element in a list.

In [261]:
list_8 = ['python','java','javascript','C++','C']

occ_of = 'java'

result = list_8.index(occ_of)  #indexing always follow upper bound-1

print(f"The occurance of {occ_of} is:\n",result)

The occurance of java is:
 1

Q9) Count the occurrences of an element in a list.

In [260]:
list_9 = [1,2,3,5,2,5,4,7,6,8,9,1,5,6]

X = 5

result = list_9.count(X)

print(f"The count of occurance of {X} is :",result)

The count of occurance of 5 is : 3

Q10) Reverse the order of elements in a list.

In [259]:
list_10 = [10,20,30,40,50]

new_list = list_10[::-1]

print("The reverse order of given list is",new_list)

The reverse order of given list is [50, 40, 30, 20, 10]

Q11) Sort a list in ascending order.

In [258]:
list_11 = [2,5,8,7,9,1,3,5,4,6]

list_11.sort()

print("After sorting the given list:",list_11)

After sorting the given list: [1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

Q12) Sort a list in descending order.

In [257]:
list_12 = [10,20,30,40,50,60,70]

list_12.sort(reverse = True)

print("sorted list in descending order :",list_12)

sorted list in descending order : [70, 60, 50, 40, 30, 20, 10]

Q13) Create a list of even numbers from 1 to 20.

In [256]:
list_13 = list(range(2,21,2))

print ("The list of even numbers in 1 to 20 are :",list_13)

The list of even numbers in 1 to 20 are : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q14) Create a list of odd numbers from 1 to 20.

In [255]:
list_14 = list(range(1,20,2))

print ("The list of odd numbers in 1 to 20 are :",list_14)

The list of odd numbers in 1 to 20 are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Q15) Find the sum of all elements in a list.

In [254]:
list_15 = [1,2,3,4,5,6]

total = 0

for i in range (0,len(list_15)):
    total = total + list_15[i]

print("The sum of all elements in given list is :",total)

The sum of all elements in given list is : 21

Q16) Find the maximum value in a list.

In [252]:
list_16 = [1,7,45,4,112,60]

total = 0

for i in range (0,len(list_16)):
    total = max(list_16)

print("The max value of all elements in given list is :",total)

The max value of all elements in given list is : 112

Q17) Find the minimum value in a list.

In [251]:
list_17 = [50,120,452,951,567,52,25]

total = 0

for i in range (0,len(list_17)):
    total = min(list_17)

print("The min value of all elements in given list is :",total)

The min value of all elements in given list is : 25

Q18) Create a list of squares of numbers from 1 to 10.

In [250]:
list_18 = list(range(1,11,1))

for i in list_18:
    print(i*i, end =" ")

print()

1 4 9 16 25 36 49 64 81 100

Q19)Create a list of random numbers.

In [249]:
import random

list_19 =[]

for i in range(10):
    list_19.append(random.randint(0,100))
print(list_19)

[52, 89, 80, 16, 59, 79, 87, 21, 7, 100]

Q20)Remove duplicates from a list.

In [248]:
list_20 = [1,4,9,7,5,7,6,52,64,25,24,25,26,23,21,28,29]

print("Before removing the duplicate elements in list: ",str(list_20))

list_20 = list(set(list_20))
list_20.sort()

print("After removing the duplicates",str(list_20))

Before removing the duplicate elements in list:  [1, 4, 9, 7, 5, 7, 6, 52, 64, 25, 24, 25, 26, 23, 21, 28, 29]
After removing the duplicates [1, 4, 5, 6, 7, 9, 21, 23, 24, 25, 26, 28, 29, 52, 64]

Q21) Find the common elements between two lists.

In [247]:
A = [1,2,5,7,8,6]
B = [9,11,15,7,5,21,80]

print("The commom elements given in the list are :",set(A).intersection(B))

The commom elements given in the list are : {5, 7}

Q22)Find the difference between two lists.

In [246]:
A = [1,2,5,7,8,6]
B = [9,5,7,11,12,6]
new_list1 = []
new_list2 = []
for i in A :
    if i not in B :
        new_list1.append(i)
print(new_list1)
for i in B:
    if i not in A :
        new_list2.append(i)
print(new_list2)

[1, 2, 8]
[9, 11, 12]

Q23) Merge two lists.

In [245]:
list_1 = [1,2,3,4]

list_2 =[5,6,7,8]

list_3 = list_1 + list_2
print("After merging two list:",list_3)

After merging two list: [1, 2, 3, 4, 5, 6, 7, 8]

Q24) Multiply all elements in a list by 2.

In [244]:
list_24 = [2,4,3,5,9,6,7]

new_list = [i* 2 for i in list_24]

print("Updated list:",new_list)

Updated list: [4, 8, 6, 10, 18, 12, 14]

Q25) Filter out all even numbers from a list.

In [243]:
list_25 = [11, 12, 13, 14, 15]
 
new_list = []
 
for num in list_25:
 
    if num % 2 == 0:
        new_list.append(num)
 

print(new_list)

[12, 14]

Q26) Convert a list of strings to a list of integers.

In [242]:
list_26 = ['10','20','30','40','50']

for i in range (0, len(list_26)):
    list_26[i] = int(list_26[i])
print("Modified list is :",str(list_26))

Modified list is : [10, 20, 30, 40, 50]

Q27) Convert a list of integers to a list of strings.

In [241]:
list_27 = [1,2,3,4,5]

for i in range (0, len(list_27)):
    list_27[i] = str(list_27[i])
print("Modified list is :",(list_27))

Modified list is : ['1', '2', '3', '4', '5']

Q28) Flatten a nested list.

In [240]:
list_28 = [[11,12,13,14],[15,16,17,18],[19,20,21,21]]

new_list = [element for innerList in list_28 for element in innerList]

print('List',list_28)
print('Flat List',new_list)

List [[11, 12, 13, 14], [15, 16, 17, 18], [19, 20, 21, 21]]
Flat List [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 21]

Q29) Create a list of the first 10 Fibonacci numbers.

In [237]:
n = [0, 1]
for i in range(2,10):
    n.append(n[i-1]+n[i-2])
print("First 10 fibonacci numbers :",n)

First 10 fibonacci numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Q30) Check if a list is sorted.

In [236]:
list_30 = [1,5,9,8,10,7]
print ("Original list : " + str(list_30))

f = 0
i = 1
while i < len(list_30):
    if(list_30[i] < list_30[i - 1]):
        f = 1
    i += 1
     
if (not f) :
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

Original list : [1, 5, 9, 8, 10, 7]
No, List is not sorted.

Q31) Rotate a list to the left by `n` positions.

In [ ]:
list_31 = [1,4,5,9,6]

print("original list:",str(list_31))

list_31 = list_31[3:] + list_31[:3]

print("list after roatating:",str(list_31))

original list: [1, 4, 5, 9, 6]
list after roatating: [9, 6, 1, 4, 5]

Q32) Rotate a list to the right by `n` positions.

In [ ]:
list_32 = [1,4,5,9,6]

print("original list:",str(list_32))

list_32 = list_32[-3:] + list_32[:-3]

print("list after roatating:",str(list_32))

original list: [1, 4, 5, 9, 6]
list after roatating: [5, 9, 6, 1, 4]

Q33) Create a list of prime numbers up to 50.

In [ ]:
print([i for i in range(2, 50) if 0 not in [i%n for n in range(2, i)]])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Q34) Split a list into chunks of size `n`.

In [1]:
l= list(range(1,11))
n= int(input("Enter chunk size"))
t = []
i = 0
while i <len(l):
    t.append(l[i:n+i])
    i= i + n
print(t)

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

Q35) Find the second largest number in a list.

In [2]:
list_35 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
  
list_new= list(set(list_35))
 
list_new.sort()
 
# Printing the second last element
print("Second largest element is:", list_new[- 2])

Second largest element is: 45

Q36) Replace every element in a list with its square.

In [3]:
def square_list(list1):
    for i in list1:
        list1[list1.index(i)] = i**2
    print(list1)

square_list([1, 4, 3, 4, 5])

[1, 16, 9, 16, 25]

Q37) Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
list1 = ["a","b","c"]                                                  
list2 = ["1","2","3"]                                                                                                                        
mydict = {}                                                            
for i,j in zip(list1,list2):                                           
   mydict[i] = j                                                      
print (mydict)

{'a': '1', 'b': '2', 'c': '3'}

Q38) Shuffle the elements of a list randomly.

In [ ]:
import random

list_38 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

random.shuffle(list_38)

print("Shuffled list:", list_38)

Shuffled list: [10, 80, 100, 70, 60, 30, 90, 50, 40, 20]

Q39) Create a list of the first 10 factorial numbers.

In [ ]:
list_39 = [1] + [i for i in range(1,10)]
list_39[1:10] = [list_39[i-1] * i for i in range(1,10)]
print(list_39)

[1, 1, 2, 6, 12, 20, 30, 42, 56, 72]

Q40)Check if two lists have at least one element in common.

In [ ]:
list1 = [1,2,3,4,5]
list2 =[5,6,7,8]

if set(list1).intersection (list2):
    print("The given set have atleast  one element in common")
else:
    print("No commom element present")

The given set have atleast  one element in common

Q41) Check if two lists have at least one element in common.

In [ ]:
list_41 = [1,2,3,4,5,6]
list_41.clear()
print("Empty list :",list_41)

Empty list : []

Q42)Replace negative numbers in a list with 0.

In [ ]:
list_42 = [11,-12,13,-14,15,-16,17]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(list_42)):
    if list_42[i] < 0:
        list_42[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", list_42)

List after replacing negative numbers with 0: [11, 0, 13, 0, 15, 0, 17]

Q43) Convert a string into a list of words.

In [ ]:
string= "Chandryaan was a successful mission"

list_43 = string.split()

print("List of words:", list_43)

List of words: ['Chandryaan', 'was', 'a', 'successful', 'mission']

Q44) Convert a list of words into a string.

In [ ]:
list_44 = ['Chandryaan', 'was', 'a', 'successful', 'mission']

string = " ".join(list_44)

print("Converted string:", string)

Converted string: Chandryaan was a successful mission

Q45) Create a list of the first `n` powers of 2.

In [ ]:
n = 10
powers_of_2 = [2**x for x in range(n)]
print("list of Power of two as follows:",powers_of_2)

list of Power of two as follows: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

Q46) Find the longest string in a list of strings.

In [ ]:
test_list = ["python","is", "great","language"]
 

print("The original list : " + str(test_list))
 
res = max(test_list, key = len)
 
print("Longest string in given list: " + res)

The original list : ['python', 'is', 'great', 'language']
Longest string in given list: language

Q47) Find the shortest string in a list of strings.

In [ ]:
test_list = ["python","is", "great","language"]
 

print("The original list : " + str(test_list))
 
res = min(test_list, key = len)
 
print("Shortest string in given list: " + res)

The original list : ['python', 'is', 'great', 'language']
Shortest string in given list: is

Q48) Create a list of the first `n` triangular numbers.

In [ ]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 5

triangular_list = triangular_numbers(n)

print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

Q49) Check if a list contains another list as a subsequence.

In [ ]:
test_list = [5, 6, 3, 8, 2, 1, 7, 1]
 
print("The original list : " + str(test_list))
 
sublist = [8, 2, 1]
 
res = False
for idx in range(len(test_list) - len(sublist) + 1):
    if test_list[idx: idx + len(sublist)] == sublist:
        res = True
        break
 
print("Is sublist present in list ? : " + str(res))

The original list : [5, 6, 3, 8, 2, 1, 7, 1]
Is sublist present in list ? : True

Q50) Swap two elements in a list by their indices.

In [ ]:
list_50= [1, 2, 3, 4, 5]

index1 = 1
index2 = 2

temp = list_50[index1]
list_50[index1] = list_50[index2]
list_50[index2] = temp

print("List after swapping elements:", list_50)

List after swapping elements: [1, 3, 2, 4, 5]

*Tuple*

Q1) Create a tuple with integers from 1 to 5.

In [ ]:
tuple_1 = (1,2,3,4,5)

print("tuple with integers:",tuple_1)

tuple with integers: (1, 2, 3, 4, 5)

Q2) Access the third element of a tuple.

In [ ]:
tuple_2 = (11,25,100,51)

third_ele = tuple_2[2]

print("The third element of a tuple is :",third_ele)

The third element of a tuple is : 100

Q3) Find the length of a tuple without using the `len()` function.

In [ ]:
tuple_3 = (10,20,30,40)

count = 0

for i in tuple_3:
    count += 1 #instead of len() function we can use count
    
print("The length of the given tuple is:",count)

The length of the given tuple is: 4

Q4) Count the occurrences of an element in a tuple.

In [ ]:
tuple_4=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
x=[i for a,i in enumerate(tuple_4) if i==8]
print("the element 8 occurs",len(x),"times")

the element 8 occurs 4 times

Q5) Find the index of the first occurrence of an element in a tuple.

In [ ]:
tuple_5= [1,2,3,5,6]

occ_of = 5

result = tuple_5.index(occ_of)  #indexing always follow upper bound-1

print(f"The occurance of {occ_of} is:\n",result)

The occurance of 5 is:
 3

Q6)Check if an element exists in a tuple.

In [ ]:
tuple_6 = [10,20,30,40]

ele = 50

if ele in tuple_6:
    print("The element exist in tuple")
else:
    print("Element does not exist")

Element does not exist

Q7) Convert a tuple to a list.

In [ ]:
tuple_7 =(11,12,13,14)

print("given tuple :",tuple_7)

print("The given tuple to list :",list(tuple_7))

given tuple : (11, 12, 13, 14)
The given tuple to list : [11, 12, 13, 14]

Q8)Convert a list to a tuple.

In [ ]:
lis =[21,22,23,24]
print("given tuple :",lis)

print("The given list to tuple :",tuple(lis))

given tuple : [21, 22, 23, 24]
The given list to tuple : (21, 22, 23, 24)

Q9) Unpack the elements of a tuple into variables.

In [ ]:
tuple_9 = [4,5,6]

a, b, c = tuple_9

print("a:",a)
print("b:",b)
print("c:",c)

a: 4
b: 5
c: 6

Q10) Create a tuple of even numbers from 1 to 10.

In [ ]:
even_no = [num for num in range(2,11,2)]

even_no = tuple(even_no)

print("Tuple of even no",even_no)

Tuple of even no (2, 4, 6, 8, 10)

Q11) Create a tuple of odd numbers from 1 to 10.

In [ ]:
odd_no = [num for num in range(1,11,2)]

odd_no = tuple(odd_no)

print("Tuple of even no",odd_no)

Tuple of even no (1, 3, 5, 7, 9)

Q12) Concatenate two tuples.

In [ ]:
tuple1 = (10,20,30,40)

tuple2 = (50,60,70,80)

tuple3 = tuple1 + tuple2
print("The concatenate of two tuples is:",tuple3)

The concatenate of two tuples is: (10, 20, 30, 40, 50, 60, 70, 80)

Q13) Repeat a tuple three times.

In [ ]:
tuple_13 = (31,32,33,34,35)
print("original tuples",tuple_13)

print("repeated tuples:",tuple_13 * 3)

original tuples (31, 32, 33, 34, 35)
repeated tuples: (31, 32, 33, 34, 35, 31, 32, 33, 34, 35, 31, 32, 33, 34, 35)

Q14) Check if a tuple is empty.

In [ ]:
tuple_14=(1,2,3)

if not tuple_14:
    print ("tuple is empty")
else:
    print ("tuple is not empty")

print(tuple_14)

tuple is not empty
(1, 2, 3)

Q15) Create a nested tuple.

In [ ]:
nested_tuple = ((1,2,3),('a','b','c'),(True,False))

print("Nested tuple :",nested_tuple)

Nested tuple : ((1, 2, 3), ('a', 'b', 'c'), (True, False))

Q16)  Access the first element of a nested tuple.

In [ ]:
nested_tuple = ((1,2,3),('a','b','c'),(True,False))

sec_ele = nested_tuple[1]

print("Second elemet of Nested tuple :",sec_ele)

Second elemet of Nested tuple : ('a', 'b', 'c')

Q17) Create a tuple with a single element.

In [ ]:
tuple_17 = (7)

print("A tuple with single element :",tuple_17)

A tuple with single element : 7

Q18) Compare two tuples.

In [ ]:
tuple1 = (10, 20, 30)
tuple2 = (11, 12, 14)

print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

Q19) Delete a tuple.

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

Q20) Slice a tuple.

In [ ]:
tuple_20 = (11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

sliced_tuple = tuple_20[3:7]  

print("Sliced tuple:", sliced_tuple)

Sliced tuple: (14, 15, 16, 17)

Q21) Find the maximum value in a tuple.

In [ ]:
tuple_21 = [1,7,455,4,112,60]

total = 0

for i in range (0,len(tuple_21)):
    total = max(tuple_21)

print("The max value of all elements in given list is :",total)

The max value of all elements in given list is : 455

Q22)Find the minimum value in a tuple.

In [ ]:
tuple_22 = [51,70,455,84,112,60]

total = 0

for i in range (0,len(tuple_22)):
    total = min(tuple_22)

print("The max value of all elements in given list is :",total)

The max value of all elements in given list is : 51

Q23) Convert a string to a tuple of characters.

In [ ]:
my_string = ("pw skills")
print("Before converting:",my_string)

converted_tuple = tuple(my_string)
print("After converting string to tuple",converted_tuple)

Before converting: pw skills
After converting string to tuple ('p', 'w', ' ', 's', 'k', 'i', 'l', 'l', 's')

Q24) Convert a tuple of characters to a string.

In [ ]:
my_tuple = ('p', 'w', ' ', 's', 'k', 'i', 'l', 'l', 's')
print("Before converting:",my_tuple)

converted_string = ''.join(my_tuple)
print("After converting tuple to string:",converted_string)

Before converting: ('p', 'w', ' ', 's', 'k', 'i', 'l', 'l', 's')
After converting tuple to string: pw skills

Q25)  Create a tuple from multiple data types.

In [ ]:
tuple_25 =(25,True,3.7,"apple")

print("The mixed tuple :",tuple_25)

The mixed tuple : (25, True, 3.7, 'apple')

Q26) Check if two tuples are identical.

In [ ]:
Tuple1 = (71,72,73,74)

Tuple2 = (74,75,76,78)

Tuple3 =(71,72,73,74)

if Tuple1 == Tuple2 :
    print("The given tuples are identical")
else:
    print("The given tuples are not identical")

if Tuple1 == Tuple3:
    print("The given tuples are identical")
else:
    print("The given tuples are not identical")

The given tuples are not identical
The given tuples are identical

Q27) Sort the elements of a tuple.

In [ ]:
tuple_27 = (87,54,21,13,19,90,100,150)

sorted_tuple = tuple(sorted(tuple_27))

print("Sorted tuples :",sorted_tuple)

Sorted tuples : (13, 19, 21, 54, 87, 90, 100, 150)

Q28) Convert a tuple of integers to a tuple of strings.

In [ ]:
tuple_28 = (10,20,30,40,50)

x=[str(i) for i in tuple_28]

print("Converted string :",tuple(x))

Converted string : ('10', '20', '30', '40', '50')

Q29) Convert a tuple of strings to a tuple of integers.

In [ ]:
tuple_29 = ('1', '4', '3', '6', '7')

x=[int(i) for i in tuple_29]

print("Converted string :",tuple(x))

Converted string : (1, 4, 3, 6, 7)

Q30) Merge two tuples.

In [ ]:
tuple1 = (51,52,53,54,55)

tuple2 = (56,57,58,59,60)

tuple3 = tuple1 + tuple2

print("Merged tuples :",tuple3)

Merged tuples : (51, 52, 53, 54, 55, 56, 57, 58, 59, 60)

Q31) Flatten a nested tuple.

In [ ]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((10, 20), (30, 40, 50), (60, (70, 80)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (10, 20, 30, 40, 50, 60, 70, 80)

Q31) Create a tuple of the first 5 prime numbers.

In [20]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = []
num = 2
while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.append(num)
    num += 1

prime_tuple = tuple(prime_numbers)
print(prime_tuple)

(2, 3, 5, 7, 11)

Q33) Check if a tuple is a palindrome.

In [37]:
tuple_33 = (10,30,30,10)
tuple_new = tuple_33[::-1]

if tuple_33 == tuple_new:
    print("the given tuple is palindrome")
else:
    print("the given tuple is not palindrome")

the given tuple is palindrome

Q34) Create a tuple of squares of numbers from 1 to 5.

In [38]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

Q35) Filter out all even numbers from a tuple.

In [47]:
tuple_35 = (11, 12, 13, 14, 15)
 
new_tuple = tuple(num for num in tuple_35 if num % 2 != 0)

print("Filtered tuple :",new_tuple)

Filtered tuple : (11, 13, 15)

Q36) Multiply all elements in a tuple by 2.

In [48]:
tuple_36 = (10,20,30,40,50)

doubled_tuple = tuple(num*2 for num in tuple_36)

print("Doubled tuple",doubled_tuple)

Doubled tuple (20, 40, 60, 80, 100)

Q37) Create a tuple of random numbers.

In [53]:
import random
random_tuple = tuple(random.randint(1,50) for _ in range(20))

print("Random Tuple :",random_tuple)

Random Tuple : (38, 12, 9, 4, 4, 18, 42, 50, 45, 42, 19, 27, 21, 25, 21, 6, 35, 22, 10, 5)

Q38) Check if a tuple is sorted.

In [57]:
tuple_38 = (1,9,15,25,5)

if tuple_38 == tuple(sorted(tuple_38, reverse = True)):
    print("Given tuple is sorted")

elif tuple_38 == tuple(sorted(tuple_38)):
    print ("Given tuple is sorted")

else:
    print("The given tuple is not sorted")

The given tuple is not sorted

Q39) Rotate a tuple to the left by `n` positions.

In [78]:
tuple_39 = (1,2,3,4,5,6)
print("Original tuple",tuple_39)

tuple_39 = tuple(tuple_39[4:] + tuple_39[:4])
print("Updated tuple :",(tuple_39))

Original tuple (1, 2, 3, 4, 5, 6)
Updated tuple : (5, 6, 1, 2, 3, 4)

Q40) Rotate a tuple to the right by `n` positions.

In [79]:
tuple_40 = (1,2,3,4,5,6)
print("Original tuple",tuple_40)

tuple_40 = tuple(tuple_40[-4:] + tuple_40[:-4])
print("Updated tuple :",(tuple_40))

Original tuple (1, 2, 3, 4, 5, 6)
Updated tuple : (3, 4, 5, 6, 1, 2)

Q41) Create a tuple of the first 5 Fibonacci numbers.

In [87]:
fibonacci_numbers =[0, 1]
for i in range(2,5):
    fibonacci_numbers.append(fibonacci_numbers[i-1]+fibonacci_numbers[i-2])
print(tuple(fibonacci_numbers))

(0, 1, 1, 2, 3)

Q42) Create a tuple from user input.

In [91]:
input_str = input("Enter elements separated by commas: ")

input_list = input_str.split(',')

user_tuple = tuple(input_list)

print("User input tuple:", user_tuple)

User input tuple: ('c', '', 'e', '', '', 'l', 'e', '', '', 's', 't', 'y')

Q43) Swap two elements in a tuple.

In [205]:
my_tuple = (10, 20, 30, 40, 50)

index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)


print("Swapped tuple:", swapped_tuple)

Swapped tuple: (10, 40, 30, 20, 50)

Q44) Reverse the elements of a tuple.

In [207]:

def Reverse(tuples):
	new_tup = tuples[::-1]
	return new_tup
	

tuples = (71,72,73,74,75,76)
print(Reverse(tuples))

(76, 75, 74, 73, 72, 71)

Q45) Create a tuple of the first `n` powers of 2.

In [208]:
n = 10

powers_of_2_tuple = tuple(2 ** i for i in range(n))

print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 10 powers of 2: (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

Q46) Find the longest string in a tuple of strings.

In [209]:
string_tuple = ('Python','java','C','C++')

longest_string =max(string_tuple, key=len)

print("Longest string:", longest_string)

Longest string: Python

Q47) Find the shortest string in a tuple of strings.

In [211]:
string_tuple = ('Python','java','C','C++')

shortest_string =min(string_tuple, key=len)

print("Shortest string:", shortest_string)

Shortest string: C

Q48) Create a tuple of the first `n` triangular numbers.

In [212]:
n = 7

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 7 triangular numbers: (1, 3, 6, 10, 15, 21, 28)

Q49) Check if a tuple contains another tuple as a subsequence.

In [214]:
tup1 = (4, 1, 6)
tup2 = (2, 4, 8, 1, 6, 5)
print("The elements of tuple 1 : " + str(tup1))
print("The elements of tuple 2 : " + str(tup2))
 
isSubset = set(tup1).issubset(tup2)

if isSubset : 
    print("tup1 is a subset of tup2")
else : 
    print("tup1 is not a subset of tup2")

The elements of tuple 1 : (4, 1, 6)
The elements of tuple 2 : (2, 4, 8, 1, 6, 5)
tup1 is a subset of tup2

Q50) Create a tuple of alternating 1s and 0s of length `n`.

In [215]:
n = 10

alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Sets

Q1) Create a set with integers from 1 to 5.

In [216]:
set1 = {1,2,3,4,5}

print("set:",set1)

set: {1, 2, 3, 4, 5}

Q2) Add an element to a set.

In [220]:
set2 = {1,3,4,5,6}
print("Original set",set2)

add_ele = 2
set2.add (add_ele)

print("Updated set :",set2)

Original set {1, 3, 4, 5, 6}
Updated set : {1, 2, 3, 4, 5, 6}

Q3) Remove an element from a set.

In [226]:
set3 = {1,2,3,11,4,5}
print("Original set :",set3)
remove_ele = 11
set3.remove(remove_ele)
print("Updated set :",set3)

Original set : {1, 2, 3, 4, 5, 11}
Updated set : {1, 2, 3, 4, 5}

Q4) Check if an element exists in a set.

In [229]:
set4 = {1,2,3,4,5,6}

ele_check = int(input("Enter the number to check"))
print("The number you entered is :",ele_check)

if ele_check in set4:
    print("Element exists in set")
else:
    print("Element dose not exist in set ")

The number you entered is : 7
Element dose not exist in set

Q5) Find the length of a set without using the `len()` function.

In [231]:
set5 = {11, 12, 13, 14, 15,16,100}
count = 0

for _ in set5:
    
    count += 1

print("Length of the set:", count)

Length of the set: 7

Q6) Clear all elements from a set.

In [233]:
set6 = {91,92,93,94,95}
print("Original set :",set6)

set6.clear()
print("After clearing the set:",set6)

Original set : {91, 92, 93, 94, 95}
After clearing the set: set()

Q7) Create a set of even numbers from 1 to 10.

In [240]:
set7 = set(range(2,11,2))
print("Set of even numbers :",set7)

Set of even numbers : {2, 4, 6, 8, 10}

Q8) Create a set of odd numbers from 1 to 10.

In [241]:
set8 = set(range(1,11,2))
print("Set of odd numbers :",set8)

Set of odd numbers : {1, 3, 5, 7, 9}

Q9) Find the union of two sets.

In [245]:
set_1 = {1,2,3,4,5}
set_2 = {6,7,8,9,10}
union_set = set_1.union (set_2)

print("set 1 :",set_1)
print("set 2:",set_2)
print("Union of sets :",union_set)

set 1 : {1, 2, 3, 4, 5}
set 2: {6, 7, 8, 9, 10}
Union of sets : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q10) Find the intersection of two sets.

In [247]:
set_1 = {1,2,3,4,5,6,7}
set_2 = {6,7,8,9,10}
intersection_set = set_1.intersection (set_2)

print("set 1 :",set_1)
print("set 2:",set_2)
print("Union of sets :",intersection_set)

set 1 : {1, 2, 3, 4, 5, 6, 7}
set 2: {6, 7, 8, 9, 10}
Union of sets : {6, 7}

Q11) Find the difference between two sets.

In [248]:
set_1 = {1,2,3,4,5,6,7}
set_2 = {6,7,8,9,10}
diff_set = set_1.difference (set_2)

print("set 1 :",set_1)
print("set 2:",set_2)
print("Union of sets :",diff_set)

set 1 : {1, 2, 3, 4, 5, 6, 7}
set 2: {6, 7, 8, 9, 10}
Union of sets : {1, 2, 3, 4, 5}

Q12) Check if a set is a subset of another set.

In [249]:
set1 = {10, 20, 30}
set2 = {10, 20, 30, 40, 50}

is_subset = set1.issubset(set2)

print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

Q13) Check if a set is a superset of another set.

In [251]:
set1 = {11, 12, 13, 14, 15, 16}
set2 = {12, 13}

is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

Q14) Create a set from a list.

In [252]:
List = [4,5,8,3,2,9]

set14 = set(List)

print("original list :",List)
print(" set from list :",set14)

original list : [4, 5, 8, 3, 2, 9]
 set from list : {2, 3, 4, 5, 8, 9}

Q15) Convert a set to a list.

In [254]:
set15 = {4,5,8,3,2,9}

List1 = list(set15)

print("original list :",set15)
print(" list from set :",List1)

original list : {2, 3, 4, 5, 8, 9}
 list from set : [2, 3, 4, 5, 8, 9]

Q16) Remove a random element from a set.

In [260]:
import random
my_set = {61, 62, 63, 64, 65}
print("Original set:", my_set)

random_element = random.choice(list(my_set))
my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

Original set: {64, 65, 61, 62, 63}
Updated set after removing 65 : {64, 61, 62, 63}

Q17) Pop an element from a set.

In [259]:
set17 = {81,82,83,84,85}
print("original set:",set17)
set17.pop()

print("After popping the element:",set17)

original set: {81, 82, 83, 84, 85}
After popping the element: {82, 83, 84, 85}

Q18) Check if two sets have no elements in common.

In [262]:
set1 = {11, 12, 13, 14}
set2 = {14,15, 16, 17, 18}

common_elements = set1.intersection(set2)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {14}

Q19) Find the symmetric difference between two sets.

In [264]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = set1.symmetric_difference(set2)
print("symmetric difference between two set is :",result)

symmetric difference between two set is : {1, 2, 4, 5}

Q20) Update a set with elements from another set.

In [266]:
set1 = {91, 92, 93}
print("Set 1:", set1)

set2 = {83, 84, 85}
print("Set 2:", set2)

set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {91, 92, 93}
Set 2: {83, 84, 85}
Updated Set 1: {83, 84, 85, 91, 92, 93}

Q21) Create a set of the first 5 prime numbers.

In [281]:
set21 = print (set([i for i in range(2, 10) if 0 not in [i%n for n in range(2, i)]]))

{2, 3, 5, 7}

Q22) Check if two sets are identical.

In [282]:
set1 = {51,52,53,54,55}
set2 = {52,53,54,55,56}

if set1 == set2:
    print("Both sets are identical")
else:
    print("Sets are not identical")

Sets are not identical

Q23) Create a frozen set.

In [285]:

elements = [101, 102, 103, 104, 105]

my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({101, 102, 103, 104, 105})

Q24) Check if a set is disjoint with another set.

In [286]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

Q25) Create a set of squares of numbers from 1 to 5.

In [307]:
squares_set = set()

for num in range(1, 6):
    
    square = num ** 2

    squares_set.add(square)

print(squares_set)

{1, 4, 9, 16, 25}

Q26) Filter out all even numbers from a set.

In [311]:
set26 = {1,2,3,4,5}
new_set = set()

for num in set26:
    if num % 2 == 0:
        new_set.add(num)
print("Even numbers in given list :",new_set)

Even numbers in given list : {2, 4}

Q27) Multiply all elements in a set by 2.

In [314]:
set27 = {9,5,3,4,8,2,7}
print("Original set :",set27)

new_set = set([i*2 for i in set27])

print("Updated set :",new_set)

Original set : {2, 3, 4, 5, 7, 8, 9}
Updated set : {4, 6, 8, 10, 14, 16, 18}

Q28) Create a set of random numbers.

In [316]:
import random

num_random_numbers = 7

random_number_set = set()

for _ in range(num_random_numbers):

    random_num = random.randint(1, 50)  
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {46, 47, 14, 20, 28, 31}

Q29) Check if a set is empty.

In [317]:
set29 = {1,2,3,4,5}

if set29 == set():
    print("Given set is empty")
else:
    print("Given set is not empty")

Given set is not empty

Q30) Create a nested set

In [318]:

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

Q31) Remove an element from a set using the discard method.

In [320]:
set31 = {1,2,3,4,25,5,6}
print ("Originsl set :",set31)
rem_ele = 25

set31.discard(rem_ele)
print("Updated set:",set31)

Originsl set : {1, 2, 3, 4, 5, 6, 25}
Updated set: {1, 2, 3, 4, 5, 6}

Q32) Compare two sets.

In [321]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

Q33) Create a set from a string.

In [322]:
input_string = "python"

char_set = set(input_string)

print(char_set)

{'y', 'p', 'o', 'n', 'h', 't'}

Q34) Convert a set of strings to a set of integers.

In [323]:
string_set = {"123", "456", "789"}
integer_set = set()

for string in string_set:
    
    integer_value = int(string)

    integer_set.add(integer_value)

print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '789', '456'}
Converted Integer Set: {456, 123, 789}

Q35) Convert a set of integers to a set of strings.

In [325]:
integer_set = {123, 456,789}
string_set = set()

for int in integer_set:
    
    string_value = str(int)

    string_set.add(string_value)

print("Original integer Set:", integer_set)
print("Converted string Set:", string_set)

Original integer Set: {456, 123, 789}
Converted string Set: {'123', '789', '456'}

Q36) Create a set from a tuple.

In [328]:
input_tuple = (31,32,33,34,35)
print ("Before converting:",input_tuple)
tuple_set = set(input_tuple)

print("After converting :",tuple_set)

Before converting: (31, 32, 33, 34, 35)
After converting : {32, 33, 34, 35, 31}

Q37) Convert a set to a tuple.

In [330]:
input_set= {31,32,33,34,35}
print ("Before converting:",input_set)
set_tuple = tuple(input_set)

print("After converting :",set_tuple)

Before converting: {32, 33, 34, 35, 31}
After converting : (32, 33, 34, 35, 31)

Q38) Find the maximum value in a set.

In [333]:
set38 = {10,25,34,84,96,75,15}
print ("The original set :",set38)

result = (max(set38))
print("The max value in the given set is :",result)

The original set : {96, 34, 84, 25, 10, 75, 15}
The max value in the given set is : 96

Q39) Find the minimum value in a set.

In [335]:
set39 = {10,25,34,84,96,75,15}
print ("The original set :",set39)

result = (min(set39))
print("The min value in the given set is :",result)

The original set : {96, 34, 84, 25, 10, 75, 15}
The min value in the given set is : 10

Q40) Create a set from user input.

In [338]:
user_set = set()

print("Enter elements for the set :")
while True:
    user_input = input("> ") 

    if user_input.lower() == 'done':
        break  

    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set :
Final set: {'', 'python', 'language', 'is ', 'great '}

Q41) Check if the intersection of two sets is empty.

In [340]:
set1 = {10,20, 30, 40, 50}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is empty.

Q42) Create a set of the first 5 Fibonacci numbers.

In [341]:

fibonacci_set = set()

a, b = 0, 1

for _ in range(6):
    
    fibonacci_set.add(a)

    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

Q43) Remove duplicates from a list using sets.

In [343]:
original_list = [2, 4, 6, 8, 1, 5, 9, 4, 10, 6, 12, 14, 8]

unique_set = set(original_list)

unique_list = list(unique_set)

print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 1, 5, 9, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [1, 2, 4, 5, 6, 8, 9, 10, 12, 14]

Q44) Check if two sets have the same elements, regardless of their count.

In [345]:
def have_same_elements(set1, set2):
    
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    return sorted_list1 == sorted_list2

set1 = {10, 20, 30, 20, 10}
set2 = {30, 10, 20}

result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

Q45) Create a set of the first `n` powers of 2.

In [348]:
def generate_powers_of_2(n):

    powers_of_2 = set()

    for i in range(n):
        
        power = 2 ** i

        powers_of_2.add(power)

    return powers_of_2

n = 7

powers_set = generate_powers_of_2(n)

print(powers_set)

{32, 1, 2, 64, 4, 8, 16}

Q46) Find the common elements between a set and a list.

In [349]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

list_to_set = set(my_list)

common_elements = []

for element in my_set:
    
    if element in list_to_set:
         
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [7, 9, 12]

Q47) Create a set of the first `n` triangular numbers.

In [354]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 5

triangular_set = set(triangular_numbers(n))

print("set of the first", n, "triangular numbers:", triangular_set)

set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

Q48) Check if a set contains another set as a subset.

In [355]:
set1 = {11, 12, 13, 14, 15}
set2 = {13, 14}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

Q49) Create a set of alternating 1s and 0s of length `n`.

In [357]:
def create_alternating_set(n):
    
    alternating_set = set()

    for i in range(n):
        
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0)

    return alternating_set


length_n = 20

result = create_alternating_set(length_n)

print(result)

{0, 1}

Q50) Merge multiple sets into one.

In [358]:
set1 = {11, 12, 13}
set2 = {3, 4, 5}
set3 = {25, 26, 27}

merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {3, 4, 5, 11, 12, 13, 25, 26, 27}